{% extends 'ems_dashboard/base_generic.html' %}

{% block content %}
<canvas id="myChart" width="400" height="200"></canvas>

<script>
// Ensure that the Chart.js library is loaded correctly
if (typeof Chart === 'undefined') {
    console.error('Chart.js is not loaded');
} else {
    console.log('Data:', {{ data|safe }});
    var options = {{ options|json_script:"options" }};
    console.log('Options:', options);

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {{ data|safe }},
        options: options
    });
}
</script>
{% endblock %}
