{% extends 'ems_dashboard/base_generic.html' %}

{% block content %}
  <h2>Call List</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Type of Call</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for call in calls %}
    <tr>
      <td>{{ call.date }}</td>
      <td>{{ call.time }}</td>
      <td>{{ call.type_of_call }}</td>
      <td><a href="{% url 'ems_dashboard:edit_call' call.id %}">Edit</a> | <a href="{% url 'ems_dashboard:delete_call' call.id %}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}