{% extends 'ems_dashboard/base_generic.html' %}

{% block content %}
  <h2>Call List</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Type of Call</th>
      <!-- Add other fields as needed -->
    </tr>
    {% for call in calls %}
      <tr>
        <td>{{ call.date|date:"m/d/Y" }}</td>
        <td>{{ call.time|time:"H:i" }}</td>
        <td>{{ call.type_of_call }}</td>
        <!-- Add other fields as needed -->
        <td><a href="{% url 'ems_dashboard:edit_call' call.id %}">Edit</a> | <a href="{% url 'ems_dashboard:delete_call' call.id %}">Delete</a></td>  <!-- Added pipe between Edit and Delete -->

      </tr>
    {% endfor %}
  </table>
{% endblock %}
