{% extends 'ems_dashboard/base_generic.html' %}

{% block content %}
  <h2>Database Query Interface</h2>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="query">SQL Query:</label>
      <textarea class="form-control" id="query" name="query" rows="5">{{ query }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Execute</button>
  </form>
  
  <h3>Results:</h3>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <!-- Dynamic column headers based on results -->
        {% if results %}
          {% for column in results.0 %}
            <th scope="col">{{ column }}</th>
          {% endfor %}
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in results %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
